<div class="vehicle-location-container">
  <div class="input-area">
    <div
      class="search-element"
    >
      <input
        class="from zat-input"
        placeholder="Location"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="off"
        type="search"
        #searchFrom
        required
      />
    </div>
    <ng-template #customContent>
      <div style="border-radius: 10px">
        Provide your delivery location
      </div>
    </ng-template>
    <ng-template #counter> </ng-template>
    <ng-template #doneButton>
      <button mat-raised-button color="primary" (click)="onOnboardingCompletion()">Okay</button>
    </ng-template>
  </div>
  <div class="map-area">
    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [scrollwheel]="true"
      [zoomControl]="false"
      [streetViewControl]="false"
      (mapReady)="mapReady($event)"
      [zoom]="zoom"
      [clickableIcons]="false"
      [styles]="mapStyles"
    >
      <agm-marker
        *ngIf="customerStateService.selectedLocation.from.lat"
        [latitude]="customerStateService.selectedLocation.from.lat"
        [longitude]="customerStateService.selectedLocation.from.lng"
        [markerDraggable]="false"
        [iconUrl]="'assets/icons/pin-start.svg'"
        [animation]="'BOUNCE'"
      >
      </agm-marker>
      <!-- <agm-marker
        *ngIf="customerStateService.selectedLocation.to.lat"
        [latitude]="customerStateService.selectedLocation.to.lat"
        [longitude]="customerStateService.selectedLocation.to.lng"
        [markerDraggable]="false"
        [iconUrl]="'assets/icons/pin-end.svg'"
        [animation]="'BOUNCE'"
      >
      </agm-marker> -->

      <agm-marker
        *ngFor="let m of markers; let i = index"
        (markerClick)="clickedMarker(m.label, i)"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [markerDraggable]="m.draggable"
        [iconUrl]="'assets/icons/marker.gif'"
      >
      </agm-marker>
    </agm-map>
  </div>
</div>

<!-- Swiper -->
<div class="swiper-parent-container">
  <!-- <card-slider
    *ngIf="canShowPitstops"
    [data]="markers"
    (slideChange)="onSlideChange($event)"
    [selectedIndex]="selectedIndex"
    (itemClicked)="gotoPitstop()"
  ></card-slider> -->
  <button mat-raised-button color="primary" *ngIf="customerStateService.selectedLocation.from.lat" (click)="goToRestaurant()">Confirm Location</button>
</div>

<!-- Swiper End -->
