<div class="restaurant-container">
  <div class="head2 bold">Restaurants Nearby</div>
  <div fxLayout="column" fxLayoutAlign="center start" class="restaurant-item-container">
    <div *ngFor="let item of restaurantLists" fxLayout="row" fxLayoutAlign="start center" class="restaurant-item">
      <img class="thumb mat-elevation-z4" src="https://www.ahstatic.com/photos/5555_rsr001_01_p_1024x768.jpg" alt="" />
      <div fxLayout="column" fxLayoutAlign="center start" class="details mat-elevation-z4">
        <div class="head4 restaurant-name">{{item.coDoingBusinessAs}}</div>
        <div class="restaurant para">Restaurant category</div>
        <br />
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="other-info">
          <div class="caption rate"><img src="../../../assets/img/core/star.svg" alt=""> 4.5</div>
          <div>•</div>
          <div class="caption">₹300 for Two</div>
          <div>•</div>
          <div class="caption offer"><img src="../../../assets/img/core/discount.svg" alt=""> 40% Off</div>
        </div>
      </div>
    </div>
  </div>
</div>
