<div class="restaurant-container">
  <h2>Restaurants Nearby</h2>
  <div matRipple class="restaurant-list mat-elevation-z2">
    <img src="https://www.ahstatic.com/photos/5555_rsr001_01_p_1024x768.jpg">
    <div class="restaurant-details">
      <h4>Restaurant Name</h4>
      <h5>Restaurant category</h5>
      <mat-divider></mat-divider>
      <div class="extra">
        <div class="rating">
          <img src="../../../assets/img/core/star.svg" />
          <p>4.5</p>
        </div>
        <div class="offer">
          <img src="../../../assets/img/core/discount.svg" />
          <p>40% off</p>
        </div>
      </div>
    </div>
  </div>
  <div matRipple class="restaurant-list mat-elevation-z2">
    <img src="https://www.ahstatic.com/photos/5555_rsr001_01_p_1024x768.jpg">
    <div class="restaurant-details">
      <h4>Restaurant Name</h4>
      <h5>Restaurant category</h5>
      <mat-divider></mat-divider>
      <div class="extra">
        <div class="rating">
          <img src="../../../assets/img/core/star.svg" />
          <p>4.5</p>
        </div>
        <div class="offer">
          <img src="../../../assets/img/core/discount.svg" />
          <p>40% off</p>
        </div>
      </div>
    </div>
  </div>
  <div matRipple class="restaurant-list mat-elevation-z2">
    <img src="https://www.ahstatic.com/photos/5555_rsr001_01_p_1024x768.jpg">
    <div class="restaurant-details">
      <h4>Restaurant Name</h4>
      <h5>Restaurant category</h5>
      <mat-divider></mat-divider>
      <div class="extra">
        <div class="rating">
          <img src="../../../assets/img/core/star.svg" />
          <p>4.5</p>
        </div>
        <div class="offer">
          <img src="../../../assets/img/core/discount.svg" />
          <p>40% off</p>
        </div>
      </div>
    </div>
  </div>
</div>