<div class="bottom-address-container">
  <div class="head4 bold">Add your vehicle</div>
  <mat-divider></mat-divider>
  <div class="input-area" fxLayout="column" [formGroup]="vehicleForm" >
    <mat-form-field>
      <mat-label>Vehicle Type</mat-label>
      <mat-select formControlName="vehType" required>
        <mat-option *ngFor="let type of vehicleType" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Vehicle Brand" (blur)="validate()" formControlName="vehbrand" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Vehicle Model" (blur)="validate()" formControlName="vehModel" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Vehicle Number" (blur)="validate()" formControlName="vehNum" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Vehicle color" (blur)="validate()" formControlName="vehColor" required>
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayoutAlign="center">
    <button class="confirm-button" mat-raised-button color="primary" (click)="saveVehicle()">SAVE VEHICLE</button>
  </div>
</div>