.cart-item-container {
  padding: 10px 16px;
  width: 100%;
  .food-item {
    width: 100%;
    img {
      width: 100px;
      height: auto;
      border-radius: 10px;
      z-index: 100;
    }
    .details {
      width: 85%;
      min-height: 125px;
      border-radius: 5px;
      margin-left: -15%;
      padding: 10px 10px 10px 20%;
      background-color: #ffffff;
      div {
        .food-name {
          font-weight: bold;
          line-height: 1.2;
          margin-bottom: 7px;
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
      .restaurant {
        line-height: 1.21;
      }
      .description {
        color: #717171;
        line-height: 1.21;
        margin-bottom: 10px;
      }
      div {
        width: 100%;
        .order-action {
          text-align: center;
          border: 1px solid orange;
          padding: auto 5px;
          .counter {
            vertical-align: middle;
          }
        }
      }
    }
  }
}
