<div class="order-list-component">
    <mat-toolbar fxLayout="row" fxLayoutAlign="flex-start">
        <button mat-button color="primary" type="button" mat-icon-button (click)="onBackClick()">
          <mat-icon aria-label="notification icon">keyboard_backspace</mat-icon>
        </button>
    </mat-toolbar>

    <mat-card *ngFor="let item of listItems" class="order-list">
        <div>
            <div class="para bold order-id">Order Id: {{item.orderId}}</div>
            <div class="para">{{item.orderDateTime.split("T", 1)}}</div>
        </div>
        <div class="para" fxLayout="row" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="bold">Type: {{item.orderType}}</div>
            <div>Total: ₹{{item.totalPrice}}</div>
        </div>
        <div *ngFor="let name of item.orderData" class="helping"><p>{{name.skuName}}</p></div>
    </mat-card>
</div>