.order-list-component {
  padding: 0px 16px 20px;

  mat-toolbar {
    background: #ffffff !important;
    box-shadow: none;
    padding: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
  }

  mat-card {
    margin: 0px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
}
