<div class="cross">
  <button mat-icon-button aria-label="close" (click)="closePage()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<ng-template #requestSubmit>
  <div class="head2">Recommend a Restaurant</div>
  <div fxLayout="column" fxLayoutAlign="space-between stretch">
    <div class="flex-inline">
      <mat-icon color="primary" style="width: 35px;">business</mat-icon>
      <mat-form-field appearance="standard" style="width: calc(100% - 45px);">
        <input matInput placeholder="Restaurant Name" [(ngModel)]="restaurantData.name"  required>
      </mat-form-field>
    </div>
    <div class="flex-inline">
      <mat-icon color="primary" style="width: 35px;">call</mat-icon>
      <mat-form-field appearance="standard" style="width: calc(100% - 45px);">
        <input matInput placeholder="Restaurant Contact" [(ngModel)]="restaurantData.contact"  required>
      </mat-form-field>
    </div>
    <div class="flex-inline">
      <mat-icon color="primary" style="width: 35px;">near_me</mat-icon>
      <mat-form-field appearance="standard" style="width: calc(100% - 45px);">
        <textarea matInput [(ngModel)]="restaurantData.address" placeholder="Restaurant Address" ></textarea>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" class="action-btn" (click)="mailMe()">
      Request it
    </button>
  </div>
</ng-template>
<div>
  <ng-container *ngIf="!isSubmitRequestVisible; else requestSubmit">
    <div fxLayout="column" fxLayoutAlign="space-between stretch" class="content-area" style="padding: 20px;">
      <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap.xs="10px">
        <div class="head2">
          We aren't serving on your choosen route yet..!
        </div>
        <div class="head3">
          Recommend a food joint
        </div>
      </div>
      <button mat-raised-button color="primary" (click)="isSubmitRequestVisible = true">
        Continue
      </button>
    </div>
  </ng-container>
</div>
