<ng-template id="bottom2" #requestSubmit>
  <div fxlayout="column">
    <div class="head2 bold heading">Recommend a Merchant</div>
    <div class="para">You may refer merchants at your location by providing their business name and mobile number</div>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-between stretch">
    <div fxLayout="row" fxLayoutAlign="start baseline" class="flex-inline" style="margin-bottom: -20px;">
      <mat-form-field appearance="standard" style="width: 100%;">
        <mat-icon matPrefix style="width: 35px;">business</mat-icon>
        <mat-label>{{data.name == "shop" ? "Shop/Store" : "Restaurant"}} Name</mat-label>
        <input matInput [(ngModel)]="restaurantData.name"  required>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start baseline" class="flex-inline" style="margin-bottom: -20px;">
      <mat-form-field appearance="standard" style="width: 100%;">
        <mat-label>{{data.name == "shop" ? "Shop/Store" : "Restaurant"}} Contact</mat-label>
        <mat-icon matPrefix style="width: 35px;">call</mat-icon>
        <input matInput [(ngModel)]="restaurantData.contact"  required>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" class="flex-inline">
      <mat-form-field appearance="standard" style="width: 100%;">
        <mat-label>{{data.name == "shop" ? "Shop/Store" : "Restaurant"}} Address</mat-label>
        <mat-icon matPrefix style="width: 35px;">near_me</mat-icon>
        <input matInput [(ngModel)]="restaurantData.address" >
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" class="action-btn" (click)="mailMe()">
      Request it
    </button>
  </div>
</ng-template>
<div>
  <ng-container class="bottom1" *ngIf="!isSubmitRequestVisible; else requestSubmit">
    <div *ngIf="message">
      <div fxLayout="column" fxLayoutAlign="space-between stretch" class="content-area" style="padding: 20px;">
        <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap.xs="10px">
          <div class="head4 bold">
            We are not serving at this location:
          </div>
          <div class="para">
            <mat-icon>near_me</mat-icon> {{location}}
          </div>
          <br />
          <div class="head4" style="text-align: center;">
            Want to recommend a {{data.name}}?
          </div>
        </div>
        <br />
        <button mat-raised-button color="primary" (click)="then()">
          Proceed
        </button>
      </div>
    </div>
    <div *ngIf="!message">
      <div fxLayout="column" fxLayoutAlign="space-between stretch" class="content-area" style="padding: 20px;">
        <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap.xs="10px">
          <div class="head4 bold">
            Chage Location:
          </div>
          <div class="head4">
            You may enter your location in the address bar above.
          </div>
        </div>
        <br />
        <button mat-raised-button color="primary" (click)="proceed()">
          Recommend
        </button>
      </div>
    </div>
  </ng-container>
</div>
