<div class="add-address-container" fxLayout="column">
  <div class="map-area" fxFlex="1 1 100%" #mapContainer>
    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [scrollwheel]="true"
      [zoomControl]="false"
      [streetViewControl]="false"
      (mapReady)="mapReady($event)"
      [zoom]="zoom"
      [clickableIcons]="false"
      [styles]="mapStyles"
    >
      <agm-marker
        *ngIf="customerStateService.selectedLocation.from.lat"
        [latitude]="customerStateService.selectedLocation.from.lat"
        [longitude]="customerStateService.selectedLocation.from.lng"
        [markerDraggable]="true"
        [iconUrl]="'assets/icons/pin-start.svg'"
        [animation]="'BOUNCE'"
        (dragEnd)="setFromLatLng($event)"
      >
      </agm-marker>
    </agm-map>
  </div>
</div>
<div class="location-confirm">
  <div class="head3 bold">
    Select delivery location
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div class="location" fxLayout="column" fxLayoutAlign="space-around">
      <div class="caption">Your Location</div>
      <div *ngIf="address" class="para bold">{{address.x}}</div>
    </div>
    <button mat-stroked-button color="primary">CHANGE</button>
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayoutAlign="center">
    <button class="confirm-button" mat-raised-button color="primary" (click)="openBottomSheet()">CONFIRM LOCATION AND PROCEED</button>
  </div>
</div>

<div class="overlay"></div>
