.location-popup-content-area{
  display: flex;
  flex-flow: column;
  justify-content: center;
  img {
    margin: auto;
  }
  .content{
    padding: 10px;
    line-height: 150%;
    text-align: center;
  }
}
