<div class="food-landing-container">
  <div class="heading">
      <i class="material-icons">
        trending_up
      </i>
    <div class="content-heading">Popular Items</div>
  </div>
  <foods-landing-items></foods-landing-items>
  <div class="heading">
      <i class="material-icons">
        star
      </i>
    <div class="content-heading">Most ordered</div>
  </div>
  <foods-landing-items></foods-landing-items>
  <div class="heading">
      <i class="material-icons">
        card_giftcard
      </i>
    <div class="content-heading">Offers</div>
  </div>
  <foods-landing-items></foods-landing-items>
  <div class="heading">
      <i class="material-icons">
        card_giftcard
      </i>
    <div class="content-heading">Your previous orders</div>
  </div>
  <foods-landing-items></foods-landing-items>
</div>
