.vehicle-location-container {
    box-shadow: none;
    padding: 0px;
  
    agm-map {
      height: 100vh;
    }
    .input-area {
      position: absolute;
      top: 55px;
      background-color: #feffff;
      width: 100%;
      .search-element {
        position: relative;
        padding: 20px;
        input {
          width: 320px;
          padding: 15px 0 15px 14px;
          margin-bottom: 15px;
          width: 100%;
          font-size: 0.8rem;
          &:last-child{
            margin-bottom: 0;
          }
  
          &:active,
          &:focus {
             outline: none;
          }
        }
      }
    }
  }
  
  .swiper-parent-container {
    position: fixed;
    bottom: 8%;
    width: 100%;
  
    .no-pitstop {
      width: 100%;
  
      .pitstop-container {
        display: block;
        background: #fff;
        box-shadow: 2px 2px 20px 5px #acacac;
        flex-flow: nowrap;
        border-radius: 5px;
        width: 360px;
        padding: 4px 8px;
        height: 100px;
        overflow: hidden;
        margin: 0 auto;
      }
    }
    button {
      width: 90%;
      border: none;
      left: 50%;
      position: relative;
      transform: translateX(-50%);
      margin-top: 20px;
    }
  }
  
  .custom-popup-container {
    .content-area {
      display: flex;
      padding: 5px 12px;
  
      .action-btn {
        box-shadow: none;
        border-radius: 5px;
      }
  
      .request-content {
        display: block;
  
        .content {
          text-align: initial;
        }
  
        .action-btn {
          height: 32px;
          float: right;
        }
      }
  
      .submit-content {
        line-height: 1.5em;
        padding: 20px 0px;
  
        .title {
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 10px;
        }
  
        .sub-title {
          font-size: 15px;
          margin-bottom: 10px;
        }
  
        .requested-location {
          width: 100%;
          display: flex;
          flex-flow: column;
          align-items: flex-start;
  
          span {
            margin: 3px 0px;
          }
  
          div {
            display: flex;
            width: 100%;
  
            span {
              display: inline;
  
              &:first-child {
                flex-basis: 21%;
                text-align: left;
              }
  
              &:last-child {
                flex-basis: 71%;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
  
  input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
    font-size: 1.5em;
  }
  
  input[type=search]::-moz-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
    font-size: 1.5em;
  }
  
  input[type=search]::-o-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
    font-size: 1.5em;
  }
  
  input[type=search]::search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
    font-size: 1.5em;
  }
  