<div class="item-landing-container">
  <div class="input-area">
    <input class="zat-input" type="text" [(ngModel)]="searchTerms" (keyup)="onSearchKeyUp(searchTerms)" placeholder="🔍 Search for your carvings">
  </div>
  <mat-tab-group [(selectedIndex)]="selectedTab" (selectedTabChange)="onTabChange()">
    <mat-tab label="Foods">
      <app-menu-list [foods]="filteredFoods" [resName]="resName"></app-menu-list>
    </mat-tab>
    <mat-tab label="Restaurants">
      <restaurants-list [restaurantLists]="filteredRestaurants"></restaurants-list>
    </mat-tab>
  </mat-tab-group>
</div>
