.item-landing-container {
    width: 100%;
    padding: 0px 16px;
    .input-area {
      padding: 0px 16px;
      .zat-input {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
}
