.pitstop-landing-container {
  margin-top: 20px;
  .food-item-container {
    margin: 16px;
    overflow: visible;
    .food-item {
      img {
        width: 150px;
        height: auto;
        border-radius: 10px;
      }
      .details {
        width: 80%;
        height: 190px;
        border-radius: 5px;
        margin-left: -20%;
        padding-left: 25%;
        padding-right: 20px;
        .food-name {
          font-weight: bold;
          line-height: 1.5;
        }
        .restaurant {
          line-height: 1.21;
        }
        .description {
          color: #717171;
          line-height: 1.21;
          margin-bottom: 10px;
        }
        div {
          width: 100%;
          .order-action {
            text-align: center;
            border: 1px solid orange;
            padding: auto 5px;
            .counter {
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}