<div style="position: relative">
  <div *ngIf="!isOrdered" class="pitstop-view-container">
      <h1>Let's Eat</h1>
      <mat-card class="header mat-elevation-z4">
        <span *ngIf="selectedFrom != selectedTo"><b>Source:</b> {{ selectedFrom }}</span>
        <span><b>Destination:</b> {{ selectedTo }}</span>
      </mat-card>
        <mat-card class="search-area mat-elevation-z4">
          <mat-icon>search</mat-icon>
          <mat-form-field class="search-field" [hideRequiredMarker]="true" [floatLabel]="never">
            <input #foodSearch matInput type="text" placeholder="Search your Cravings" [(ngModel)]="value" />
            <button mat-button *ngIf="foodSearch.value" matSuffix mat-icon-button aria-label="Clear" (click)="value = ''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </mat-card>
      <div class="scroll-item">
          <pitstop-landing *ngIf="canShowPitstopLanding" [foods]="foods"></pitstop-landing>
          <foods-landing *ngIf="!canShowPitstopLanding"></foods-landing>
          <div style="height: 100px;"></div>
        </div>
  </div>
  <div *ngIf="getTotal() > 0 && !isOrdered" class="place-order-container">
    <button mat-raised-button color="primary" (click)="placeOrder()">
      Place order ({{ getTotal() + "₹" }})
    </button>
  </div>
  <button mat-raised-button color="primary" style="width: 90%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  position: fixed;
  bottom: 10vh;" *ngIf="!canShowPitstopLanding && !(getTotal() > 0 && !isOrdered)"
    (click)="canShowPitstopLanding = true">
    Proceed
  </button>

  <div class="completed-order" *ngIf="isOrdered" style="z-index: 999;">
    <div class="check-icon">
      <svg class="checkmark" width="50" height="50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
      </svg>
    </div>
    <div class="text-area">
      <div class="text-success" style="margin-top: 25px;">Order Placed</div>
      <div style="margin: 20px auto; font-weight: 600;">
        Please Contact to +919594959719 / +919987483092
      </div>
    </div>
  </div>
</div>
