.cartview-container{
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-top: 40px;
  mat-toolbar {
    background: rgba(0,0,0, 0)!important;
    box-shadow: none;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .address {
    margin: 20px 16px;
    overflow: visible;
    .address-box {
      margin: 15px 0;
      width: 100%;
      padding: 10px 10px 0px 10px;
      position: relative;
      border-radius: 4px;
      .head2 {
        line-height: 1.5;
      }
      .head4 {
        line-height: 1.25;
      }
      .edit {
        position: absolute;
        bottom: 5px;
        right: 0px;
      }
    }
  }
  .note {    
    margin: 25px 16px;
    overflow: visible;
  }
  mat-divider {
    margin: 20px 16px;
  }
  .bill-detail {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px 16px 20px;
    .order-button {
      height: 55px;
      margin: 30px 16px 0px 16px;
      border-radius: 5px;
      button {
        height: 100%;
        width: 100%;
      }
    }
  }
}

mat-divider {
  margin-top: 15px !important;
}