<div class="cartview-container">
  <mat-toolbar fxLayout="row" fxLayoutAlign="flex-start">
    <button mat-button color="primary" type="button" mat-icon-button (click)="onBackClick()">
      <mat-icon aria-label="notification icon">keyboard_backspace</mat-icon>
    </button>
  </mat-toolbar>
  <div class="cart-items">
    <app-cart-item *ngFor="let item of orderedItems" [data]="item" (addUnit)="onAddUnit(item)"
      (removeUnit)="onRemoveUnit(item)" (removeItem)="removeItemFromCart(item)"></app-cart-item>
  </div>
  <div [ngSwitch]="customerStateService.currentServiceSelected">
  <div *ngSwitchCase="ECustomerServiceType.TakeAway">
    <div class="address">
      <div class="address-head" fxLayout="row" fxLayoutAlign="space-between">
        <div class="head2 bold">Take Delivery at</div>
      </div>
      <mat-card class="address-box mat-elevation-z4">
        <div class="head2 bold">{{pitstopData.name}}</div>
        <div class="head4">{{pitstopData.locality}}</div>
      </mat-card>
      <div class="address-head" fxLayout="row" fxLayoutAlign="space-between">
        <div class="head2 bold">Vehicle</div>
      </div>
      <mat-card *ngIf="selectedVehicle" class="address-box mat-elevation-z4">
        <div class="head2 bold">{{selectedVehicle.vehbrand}} {{selectedVehicle.vehModel}}</div>
        <div class="head4">{{selectedVehicle.vehNum}}</div>
        <mat-divider [inset]="true"></mat-divider>
        <div fxLayout="row" fxLayoutAlign="space-around" class="address-operation">
          <button mat-button color="primary" (click)="onVehicleChange()">CHANGE</button>
          <button mat-button color="primary" (click)="addVehicle()">ADD</button>
        </div>
      </mat-card>
    </div>

  </div>
  <div *ngSwitchCase="ECustomerServiceType.Delivery">
    <div class="address">
      <div class="address-head" fxLayout="row" fxLayoutAlign="space-between">
        <div class="head2 bold">Delivery Location</div>
        <!-- <div mat-button color="primary" class="head2 primary-color">Add New</div> -->
      </div>
      <mat-card *ngIf="selectedLocationForDelivery" class="address-box mat-elevation-z4">
        <div class="head3 bold">{{selectedLocationForDelivery.addrType}}</div>
        <div class="head4">{{selectedLocationForDelivery.addrLine1}} {{selectedLocationForDelivery.addrLine2}} {{selectedLocationForDelivery.locality}} {{selectedLocationForDelivery.city}}</div>
        <mat-divider [inset]="true"></mat-divider>
        <div fxLayout="row" fxLayoutAlign="space-around" class="address-operation">
          <button mat-button color="primary" (click)="onAddressChange()">CHANGE</button>
          <button mat-button color="primary" (click)="addAddress()">ADD</button>
        </div>
      </mat-card>
    </div>

  </div>
  <div *ngSwitchCase="ECustomerServiceType.OrderAhead">
    <div class="address">
      <div class="address-head" fxLayout="row" fxLayoutAlign="space-between">
        <div class="head2 bold">Order At</div>
        <!-- <div mat-button color="primary" class="head2 primary-color">Add New</div> -->
      </div>
      <div *ngIf="currentRestaurantData" class="address-box mat-elevation-z4" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="address-detail" fxLayout="column">
          <div class="head2 bold">{{currentRestaurantData.displayName}}</div>
          <div class="head4">{{currentRestaurantData.locality}}</div>
        </div>
        <!-- <button mat-button color="primary" (click)="openTime()">ADD TIME</button> -->
        <div fxLayout="column" class="time" fxLayoutAling="flex-end">
          <div class="para">Tentative Time</div>
          <div [formGroup]="form"><input type="time" formControlName="time"></div>
        </div>
      </div>
    </div>

  </div>
  </div>

  <!-- <div class="note">
    <div class="note-head" fxLayout="row" fxLayoutAlign="space-between">
      <div class="head2 bold">Note</div>
      <div mat-button color="primary" class="head2 primary-color">Add New</div>
    </div>
  </div> -->
  <div class="bill-detail mat-elevation-z4">
    <div class="amount" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="head4">Item Total</div>
      <div class="head4">{{totalItem}}</div>
    </div>
    <div class="amount" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="head4">Applicable Taxes</div>
      <div class="head4">₹20</div>
    </div>
    <div class="amount" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="head4">Delivery Charges</div>
      <div class="head4">₹20</div>
    </div>
    <div class="amount" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="head4">Total payable amount</div>
      <div class="head2">{{totalPrice}}</div>
    </div>
    <div class="order-button head4 bold">
      <button mat-raised-button color="primary" (click)="onSubmitClick()"
        class="head4 bold">{{this.hasAuthToken ?'PLACE ORDER':'Login/Signup And Continue'}}</button>
    </div>
  </div>
</div>
