<div class="cartview-container">
  <mat-toolbar fxLayout="row" fxLayoutAlign="flex-start">
    <button mat-button color="primary" type="button" mat-icon-button (click)="onBackClick()">
      <mat-icon aria-label="notification icon">keyboard_backspace</mat-icon>
    </button>
  </mat-toolbar>
  <div class="cart-items">
    <app-cart-item *ngFor="let item of orderedItems" [data]="item" (addUnit)="onAddUnit(item)"
      (removeUnit)="onRemoveUnit(item)" (removeItem)="removeItemFromCart(item)"></app-cart-item>
  </div>
  <div [ngSwitch]="customerStateService.currentServiceSelected">
  <div *ngSwitchCase="ECustomerServiceType.TakeAway">
    <div class="address">
      <div class="address-head" fxLayout="row" fxLayoutAlign="space-between">
        <div class="head2 bold">Pitstop Address</div>
      </div>
      <div class="address-box mat-elevation-z4">
        <div class="head2 bold">Pitstop Name</div>
        <div class="head4">Lorem Ipsum dolor sit</div>
      </div>
    </div>

  </div>
  <div *ngSwitchCase="ECustomerServiceType.Delivery">
    <div class="address">
      <div class="address-head" fxLayout="row" fxLayoutAlign="space-between">
        <div class="head2 bold">Shipping Address</div>
        <div mat-button color="primary" class="head2 primary-color">Add New</div>
      </div>
      <div class="address-box mat-elevation-z4">

        <div class="head2 bold">From</div>
        <div class="head4">{{selectedLocation}}</div>
        <button mat-icon-button color="primary" class="edit">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>

  </div>
  <div *ngSwitchDefault>
    <div class="address">
      <div class="address-head" fxLayout="row" fxLayoutAlign="space-between">
        <div class="head2 bold">Shipping Address</div>
        <div mat-button color="primary" class="head2 primary-color">Add New</div>
      </div>
      <div class="address-box mat-elevation-z4">
        <div class="head2 bold">Home</div>
        <div class="head4">Lorem Ipsum dolor sit</div>
        <button mat-icon-button color="primary" class="edit">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>

  </div>
  </div>

  <div class="note">
    <div class="note-head" fxLayout="row" fxLayoutAlign="space-between">
      <div class="head2 bold">Note</div>
      <div mat-button color="primary" class="head2 primary-color">Add New</div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="amount" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="head4">Item Total</div>
    <div class="head4">5</div>
  </div>
  <div class="amount" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="head4">Applicable Taxes</div>
    <div class="head4">₹20</div>
  </div>
  <div class="amount" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="head4">Delivery Charges</div>
    <div class="head4">₹20</div>
  </div>
  <div class="amount" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="head4">Total payable amount</div>
    <div class="head2">₹320</div>
  </div>
  <div class="order-button head4 bold">
    <button mat-raised-button color="primary" (click)="onSubmitClick()"
      class="head4 bold">{{this.hasAuthToken ?'PLACE ORDER':'Login/Signup And Continue'}}</button>
  </div>
</div>
