.cartview-container{
  position: fixed;
  height: calc(100vh - 60px);
  width: 100%;
  overflow: auto;
  mat-toolbar {
    background: rgba(0,0,0, 0)!important;
    box-shadow: none;
    padding: 5px;
  }
  .address {
    margin: 20px 16px;
    overflow: visible;
    .address-box {
      margin: 15px 0;
      width: 85%;
      padding: 15px 15px 15px 23px;
      position: relative;
      border-radius: 4px;
      .head2 {
        line-height: 1.5;
      }
      .head4 {
        line-height: 1.25;
      }
      .edit {
        position: absolute;
        bottom: 5px;
        right: 0px;
      }
    }
  }
  .note {    
    margin: 25px 16px;
    overflow: visible;
  }
  mat-divider {
    margin: 20px 16px;
  }
  .amount {
    margin: auto 16px;
  }
  .order-button {
    height: 55px;
    margin: 30px 16px;
    border-radius: 7px;
    button {
      height: 100%;
      width: 100%;
    }
  }
}
