.slider {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    .swiper-container {
        width: 100%;
        height: 100%;
        .swiper-slide {
            width: 100%;
            height: 100%;
            .swiper-zoom-container {
                width: 100%;
                height: 100%;
            }
        }
    }
}