.order-detail-container {
    padding: 0px 16px 20px;
    overflow-y: scroll;
    height: 100%;
    .order-id {
        margin-bottom: 15px;
    }
    mat-divider {
        margin: 10px 0px;
    }
    .status-btn {
        margin: 10px 0px;
        button {
            width: 100%;
        }
    }
    mat-card {
        margin: 5px 0px;
    }
}

mat-toolbar {
    padding: 0px;
}