<div class="profile-landing">
  <mat-toolbar fxLayout="row" fxLayoutAlign="flex-start">
    <button mat-button color="primary" type="button" mat-icon-button (click)="onBackClick()">
      <mat-icon aria-label="notification icon">keyboard_backspace</mat-icon>
    </button>
  </mat-toolbar>
  <div fxLayout="row" class="profile">
    <img class="profile-img" src="../../../assets/img/core/user.png" alt="">
    <div fxLayout="column" class="profile-detail">
      <div class="name head3 bold">
        {{ basic.indFirstName }}
      </div>
      <div class="head4 phone">{{ mobile }}</div>
      <!-- <button mat-stroked-button color="primary" class="head4">EDIT</button> -->
    </div>
  </div>
  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="head3 bold">Accounts</div>
  </div>
  <mat-card fxLayout="column" class="mat-elevation-z4">
    <div class="profile-item" fxLayout="row" fxLayoutAlign="start center">
      <img src="../../../assets/img/core/Mask Group 4.svg" alt="">
      <div class="head4">{{ basic.indFirstName }}</div>
    </div>
    <mat-divider [inset]="true"></mat-divider>
    <div class="profile-item" fxLayout="row" fxLayoutAlign="start center">
      <img src="../../../assets/img/core/Mask Group 5.svg" alt="">
      <div class="head4">{{ mobile }}</div>
    </div>
    <mat-divider [inset]="true"></mat-divider>
    <div class="profile-item" fxLayout="row" fxLayoutAlign="start center">
      <img src="../../../assets/img/core/Mask Group 6.svg" alt="">
      <div class="head4">Mail</div>
    </div>
    <mat-divider [inset]="true"></mat-divider>
    <div class="profile-item" fxLayout="row" fxLayoutAlign="start center">
      <img src="../../../assets/img/core/Mask Group 7.svg" alt="">
      <div class="head4">Gender</div>
    </div>
    <mat-divider [inset]="true"></mat-divider>
    <div class="profile-item" fxLayout="row" fxLayoutAlign="start center">
      <img src="../../../assets/img/core/Mask Group 8.svg" alt="">
      <div class="head4">Vegetarian</div>
    </div>
  </mat-card>

  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="head3 bold">Address</div>
    <button mat-stroked-button color="primary" (click)="addNewAddress()">Add New</button>
  </div>
  <mat-card fxLayout="column" class="mat-elevation-z4">
    <div *ngFor="let addressItem of address" fxLayout="column" class="address-item">
      <div fxLayout="row" fxLayoutAlign="start start" class="head4">
        <img src="../../../assets/img/core/Mask Group 2.svg" alt="">
        <div class="address-detail">
          <div class="head4 bold">{{addressItem.addrType}}</div>
          <div class="head4">{{addressItem.addrLine1}}, {{addressItem.addrLine2}}, {{addressItem.city}}</div>
        </div>
      </div>
      <!-- <div fxLayout="row" fxLayoutAlign="space-around" class="address-operation">
        <button mat-button color="primary">EDIT</button>
        <button mat-button color="primary">DELETE</button>
      </div> -->
      <mat-divider [inset]="true"></mat-divider>
    </div>
    <!-- <mat-divider [inset]="true"></mat-divider>
    <div fxLayout="column" class="address-item">
      <div fxLayout="row" fxLayoutAlign="start start" class="head4">
        <img src="../../../assets/img/core/Mask Group 3.svg" alt="">
        <div class="address-detail">
          <div class="head4 bold">Office</div>
          <div class="head4">Lorem Ipsum Dolor sit amet consetetur sadicping elitr sed</div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around" class="address-operation">
        <button mat-button color="primary">EDIT</button>
        <button mat-button color="primary">DELETE</button>
      </div>
    </div> -->
  </mat-card>

  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="head3 bold">Vehicle</div>
    <button mat-stroked-button color="primary" (click)="addNewVehicle()">Add New</button>
  </div>
  <mat-card fxLayout="column" class="mat-elevation-z4">
    <div *ngFor="let vehicleItem of vehicle" fxLayout="column" class="address-item">
      <div fxLayout="row" fxLayoutAlign="start start" class="head4">
        <img src="../../../assets/img/core/Mask Group 2.svg" alt="">
        <div class="address-detail">
          <div class="head4 bold">{{vehicleItem.vehbrand}} {{vehicleItem.vehModel}}</div>
          <div class="head4">{{vehicleItem.vehNum}}</div>
        </div>
      </div>
      <!-- <div fxLayout="row" fxLayoutAlign="space-around" class="address-operation">
        <button mat-button color="primary">EDIT</button>
        <button mat-button color="primary">DELETE</button>
      </div> -->
      <mat-divider [inset]="true"></mat-divider>
    </div>
  </mat-card>

  <div class="head3 bold header">Others</div>
  <mat-card fxLayout="column" class="mat-elevation-z4">
    <div class="others-item" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="head4">Language preferences</div>
    </div>
    <mat-divider [inset]="true"></mat-divider>
    <div class="others-item" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="head4">App Notification</div>
      <mat-slide-toggle color="primary"></mat-slide-toggle>
    </div>
    <mat-divider [inset]="true"></mat-divider>
    <div class="others-item" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="head4">Location Tracking</div>
      <mat-slide-toggle color="primary"></mat-slide-toggle>
    </div>
  </mat-card>
</div>
