<div class="profile-landing">
    <div fxLayout="row" class="profile">
        <img class="profile-img" src="../../../assets/img/core/rock.jpg" alt="">
        <div fxLayout="column" class="profile-detail">
            <div class="name head3 bold">
                John Doe
            </div>
            <div class="head4 phone">9458745125</div>
            <button mat-stroked-button color="primary" class="head4">EDIT</button>
        </div>
    </div>
    <div class="head3 bold header">Accounts</div>
    <mat-card fxLayout="column" class="mat-elevation-z4">
        <div class="profile-item" fxLayout="row" fxLayoutAlign="start center" class="head4">
            <img src="../../../assets/img/core/Mask Group 4.svg" alt="">
            Name Here
        </div class="profile-item">
        <mat-divider></mat-divider>
        <div class="profile-item" fxLayout="row" fxLayoutAlign="start center" class="head4">
            <img src="../../../assets/img/core/Mask Group 5.svg" alt="">
            Mobile
        </div>
        <mat-divider></mat-divider>
        <div class="profile-item" fxLayout="row" fxLayoutAlign="start center" class="head4">
            <img src="../../../assets/img/core/Mask Group 6.svg" alt="">
            Mail
        </div>
        <mat-divider></mat-divider>
        <div class="profile-item" fxLayout="row" fxLayoutAlign="start center" class="head4">
            <img src="../../../assets/img/core/Mask Group 7.svg" alt="">
            Gender
        </div>
        <mat-divider></mat-divider>
        <div class="profile-item" fxLayout="row" fxLayoutAlign="start center" class="head4">
            <img src="../../../assets/img/core/Mask Group 5.svg" alt="">
            Vegetarian
        </div>
    </mat-card>

    <div class="head3 bold header">Address</div>
    <mat-card fxLayout="column" class="mat-elevation-z4">
        <div fxLayout="column" class="address-item">
            <div fxLayout="row" class="head4">
                <img src="../../../assets/img/core/Mask Group 2.svg" alt="">
                <div class="address-detail">
                    <div class="head4 bold">Home</div>
                    <div class="head4">LOrem Ipsum Dolor sit amet consetetur sadicping elitr sed</div>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around" class="address-operation">
                <button mat-button>EDIT</button>
                <button mat-button>DELETE</button>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="column" class="address-item">
            <div fxLayout="row" class="head4">
                <img src="../../../assets/img/core/Mask Group 3.svg" alt="">
                <div class="address-detail">
                    <div class="head4 bold">Office</div>
                    <div class="head4">LOrem Ipsum Dolor sit amet consetetur sadicping elitr sed</div>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around" class="address-operation">
                <button mat-button>EDIT</button>
                <button mat-button>DELETE</button>
            </div>
        </div>
    </mat-card>

    <div class="head3 bold header">Others</div>
    <mat-card fxLayout="column" class="mat-elevation-z4">
        <div class="others-item" fxLayout="row" flexLayoutAlign="space-between center">
            <div class="head4">Language preferences</div>
        </div>
        <mat-divider></mat-divider>
        <div class="others-item" fxLayout="row" flexLayoutAlign="space-between center">
            <div class="head4">App Notification</div>
            <mat-slide-toggle color="primary"></mat-slide-toggle>
        </div>
        <mat-divider></mat-divider>
        <div class="others-item" fxLayout="row" flexLayoutAlign="space-between center">
            <div class="head4">Location Tracking</div>
            <mat-slide-toggle color="primary"></mat-slide-toggle>
        </div>
    </mat-card>
</div>