.profile-landing {
    padding: 0px;
    .profile {
        margin: 30px;
        .profile-img {
            width: 144px;
            height: auto;
            border-radius: 50%;
        }
        .profile-detail {
            margin-left: 25px;
            line-height: 1.8em;
        }
    }
    .header {
        margin: 20px 0px 10px 16px;
    }
    mat-card {
        padding: 20px;
        border-radius: 4px;
        .profile-item {
            img {
                width: 23px;
                height: auto;
                margin-right: 10px;
            }
        }
        .address-item {
            img {
                width: 23px;
                height: auto;
                margin-right: 10px;
            }
        }
    }
}

.mat-card .mat-divider-horizontal.mat-divider-inset {
    margin: 10px 0px;
}