.profile-landing {
  padding: 0px;
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 30px;

  mat-toolbar {
    background: rgba(0, 0, 0, 0) !important;
    box-shadow: none;
    padding: 5px;
  }

  .profile {
    margin: 0px 16px 30px 16px;

    .profile-img {
      width: 144px;
      height: auto;
      border-radius: 50%;
    }

    .profile-detail {
      margin-left: 15px;
      line-height: 1.8em;
    }
  }

  .header {
    margin: 20px 16px 10px 16px;
  }

  mat-card {
    padding: 20px;
    border-radius: 4px;
    margin: 10px 16px;

    .profile-item {
      img {
        width: 23px;
        height: auto;
        margin-right: 10px;
      }
    }

    .address-item {
      img {
        width: 23px;
        height: auto;
        margin-right: 10px;
      }
    }
  }
}

.mat-card .mat-divider-horizontal.mat-divider-inset {
  margin: 10px 0px;
}
