@import './assets/styles/variable';
@import './assets/styles/themes';
@import './assets/styles/mixins';

/* You can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  font-size: $html-font-size-lg;
  line-height: 23px;

  @include pc {
    max-width: 600px;
    display: block;
    margin: 0 auto;
    .title {
      font-size: 16px;
    }
    .head1 {
      font-size: 24px;
    }
    .head2 {
      font-size: 22px;
    }
    .head3 {
      font-size: 20px;
    }
    .para {
      font-size: 16px;
    }
    .list-item {
      font-size: 18px;
    }
    .secondary-text, .caption, .helping {
      font-size: 16px;
    }
    button {
      font-size: 16px;
    }
  }

  @include tablet {
    .title {
      font-size: 14px;
    }
    .head1 {
      font-size: 24px;
    }
    .head2 {
      font-size: 22px;
    }
    .head3 {
      font-size: 20px;
    }
    .para {
      font-size: 14px;
    }
    .list-item {
      font-size: 16px;
    }
    .secondary-text, .caption, .helping {
      font-size: 14px;
    }
    button {
      font-size: 14px;
    }
  }

  @include phone {
    .title {
      font-size: 14px;
    }
    .head1 {
      font-size: 22px;
    }
    .head2 {
      font-size: 20px;
    }
    .head3 {
      font-size: 18px;
    }
    .para {
      font-size: 14px;
    }
    .list-item {
      font-size: 16px;
    }
    .secondary-text, .caption, .helping {
      font-size: 14px;
    }
    button {
      font-size: 14px;
    }
  }

  @include xs-phone {
    .title {
      font-size: 13px;
    }
    .head1 {
      font-size: 20px;
    }
    .head2 {
      font-size: 18px;
    }
    .head3 {
      font-size: 16px;
    }
    .para {
      font-size: 13px;
    }
    .list-item {
      font-size: 15px;
    }
    .secondary-text, .caption, .helping {
      font-size: 13px;
    }
    button {
      font-size: 13px;
    }
  }

}
