<mat-toolbar fxLayout="row" fxLayoutAlign="flex-start center">
    <button mat-button color="primary" type="button" mat-icon-button (click)="onBackClick()">
      <mat-icon aria-label="notification icon">keyboard_backspace</mat-icon>
    </button>
</mat-toolbar>
<div class="language-change-container" [formGroup]="profileForm">
    <label id="Lang" color="primary">Language Preference</label>
    <mat-radio-group aria-labelledby="Lang" fxLayout="column" fxLayoutAlign="flex-start" formControlName='language' (change)="language()">
        <mat-radio-button color="primary" value="en">English</mat-radio-button>
        <mat-radio-button color="accent" value="hi">Hindi</mat-radio-button>
        <!-- <mat-radio-button color="accent" value="bn">Bengali</mat-radio-button> -->
        <mat-radio-button color="accent" value="mr">Marathi</mat-radio-button>
        <!-- <mat-radio-button color="accent" value="gu">Gujrati</mat-radio-button> -->
    </mat-radio-group>
</div>