<div class="content-container">
  <div class="swiper-container" [swiper]="config" (indexChange)="onIndexChange($event)" [index]="selectedIndex">
    <div fxLayout="row" class="swiper-wrapper">
      <div *ngFor="let item of data" class="swiper-slide" (click)="onItemClick(item)">
        <div fxLayout="column" class="pitstop-container">
          <div class="image">
            <img src="../../../../assets/img/core/restaurant.jpg" alt="">
          </div>
          <div fxLayout="column"fxLayoutAlign="start" class="info">
            <div class="name head5 bold">Pitstop</div>
            <div class="secondary landmark">Landmark</div>
          </div>
        </div>
      </div>
      <!-- <div class="swiper-slide" *ngFor="let item of slides">
          <img [src]="item" width="90px" alt="">
        </div> -->
    </div>
  </div>
</div>
