.content-container {
  position: relative;
  width: 100%;
  overflow: hidden;

  .swiper-container {
    width: 100%;
    height: 100%;

    .swiper-wrapper {
      display: flex;
      width: 100%;

      .swiper-slide {
        text-align: center;
        font-size: 1.8rem;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;

        .pitstop-container {
          display: flex;
          background: #fff;
          flex-flow: nowrap;
          border-radius: 5px;
          width: 280px;
          height: 100px;
          overflow: hidden;

          .left {
            display: inline;

            img {
              height: 100px;
              width: auto;
            }
          }

          .right {
            padding: 5px;
            margin-left: 5px;
            display: flex;
            flex-flow: column;
            font-size: 0.6em;
            text-align: left;

            .header {
              display: block;
              font-weight: bold;
              max-width: 160px;
              font-size: 2em;
              margin-bottom: 5px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

          }
        }
      }
    }
  }
}
