<div class="content-container">
  <div class="swiper-container" [swiper]="config" (indexChange)="onIndexChange($event)" [index]="selectedIndex">
    <div class="swiper-wrapper">
      <div *ngFor="let item of data" class="swiper-slide" (click)="onItemClick(item)">
        <div class="pitstop-container">
          <div class="left">
              <img class="image" src="../../../assets/img/core/food-item.svg" width="90px" alt="" />
          </div>
          <div class="right">
            <div class="header">ZataakSe pitstop A0001</div>
            <!-- <div class="famous"><b>Famous for:</b> Ajmeri Gate</div> -->
            <!-- <div class="merchant"><b>Featured merchent:</b> Shirsho's Chapati</div>
            <div class="rating"><b>Averahe rating:</b> 4</div> -->
          </div>
        </div>
      </div>
      <!-- <div class="swiper-slide" *ngFor="let item of slides">
          <img [src]="item" width="90px" alt="">
        </div> -->
    </div>
  </div>
</div>
