<div class="content-container">
    <div class="swiper-container" [swiper]="config" (indexChange)="onIndexChange($event)" [index]="selectedIndex">
      <div class="swiper-wrapper">
        <div *ngFor="let item of data" class="swiper-slide" (click)="onItemClick(item)">
          <mat-card matRipple class=" mat-elevation-z4">
            <div class="item-wrapper" [ngStyle]="{
                'background-image': 'url(../../assets/img/core/thumb.jpg)',
                'background-size': 'cover',
                'background-position': 'top'
              }">
            </div>
            <div class="content">
                {{item.name}}
            </div>
            <img class="food-pref" width="25px" [src]="item.isVeg? '../../../assets/icons/veg.svg':'../../../assets/icons/no-veg.svg' " >
          </mat-card>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
</div>
